@import 'bootstrap-variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a {
  color: #401b9c;
  font-weight: bold;
}

a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

.dropdown-item.active:hover {
  background-color: #f0e6fc;
  color: #a435f0;
}

a:hover {
  color: #a435f0;
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Generic styles
========================================================================== */

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

/* ==========================================================================
Main content wrapper
========================================================================== */
.main-content {
  min-height: calc(100vh - 4rem - 200px);
}

/* ==========================================================================
Footer
========================================================================== */
.site-footer {
  background: #1c1d1f;
  color: #fff;
  padding: 3rem 2rem 0;
}

.footer-content {
  padding-bottom: 2rem;
}

.footer-col {
  margin-bottom: 1.5rem;
}

.footer-brand {
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 0.75rem;
}

.footer-tagline {
  color: #9da3a7;
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-heading {
  color: #fff;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0.5rem;
  }

  a {
    color: #9da3a7;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.15s ease;

    &:hover {
      color: #fff;
    }
  }
}

.footer-bottom {
  border-top: 1px solid #3e4143;
  padding: 1.25rem 0;
  text-align: center;
  color: #6a6f73;
  font-size: 0.85rem;
}

/* ==========================================================================
Cursor helpers
========================================================================== */
.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}

/* ==========================================================================
Responsive table improvements
========================================================================== */
@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;

    .table {
      font-size: 0.875rem;

      th,
      td {
        padding: 0.5rem;
      }
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */
