/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(164, 53, 240, 0.85);
  overflow: hidden;
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 10em;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.6;
  font-size: 0.75rem;
  a {
    color: #fff;
    display: block;
    font-weight: 500;
    margin: 1px 0;
    padding: 4px 50px;
    text-align: center;
    text-decoration: none;
    pointer-events: none;
  }
}
