<footer class="site-footer">
  <div class="container-fluid">
    <div class="row footer-content">
      <div class="col-md-4 footer-col">
        <h5 class="footer-brand">Learn With Hamster</h5>
        <p class="footer-tagline">Your personalized learning management platform. Master new skills at your own pace.</p>
      </div>
      <div class="col-md-4 footer-col">
        <h6 class="footer-heading">Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/account/register">Register</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-col">
        <h6 class="footer-heading">Resources</h6>
        <ul class="footer-links">
          <li><a routerLink="/account/settings">Settings</a></li>
          <li><a routerLink="/account/password">Password</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <span jhiTranslate="footer">2025 Learn With Hamster. All rights reserved.</span>
    </div>
  </div>
</footer>
