<div>
  <h2 id="page-heading" data-cy="DisciplineHeading">
    <span jhiTranslate="serviceApp.serviceDiscipline.home.title">Disciplines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="serviceApp.serviceDiscipline.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-discipline"
        [routerLink]="['/service/discipline/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="serviceApp.serviceDiscipline.home.createLabel">Create a new Discipline</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="serviceApp.serviceDiscipline.home.search"
          >Search for Discipline</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'serviceApp.serviceDiscipline.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (disciplines().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="serviceApp.serviceDiscipline.home.notFound">No Disciplines found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="disciplineName">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.serviceDiscipline.disciplineName">Discipline Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="disciplineDescription">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.serviceDiscipline.disciplineDescription">Discipline Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="disciplinePrice">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.serviceDiscipline.disciplinePrice">Discipline Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="programs.id">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.serviceDiscipline.programs">Programs</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (discipline of disciplines(); track trackId(discipline)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/service/discipline', discipline.id, 'view']">{{ discipline.id }}</a>
              </td>
              <td>{{ discipline.disciplineName }}</td>
              <td>{{ discipline.disciplineDescription }}</td>
              <td>{{ discipline.disciplinePrice }}</td>
              <td>
                @for (programs of discipline.programs; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/service/program', programs.id, 'view']">{{ programs.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/service/discipline', discipline.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/service/discipline', discipline.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(discipline)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
