<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="serviceApp.serviceCourse.home.createOrEditLabel">
        Create or edit a Course
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="serviceApp.serviceCourse.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let courseTitleRef = editForm.get('courseTitle')!;
        <div class="mb-3">
          <label class="form-label" for="field_courseTitle" jhiTranslate="serviceApp.serviceCourse.courseTitle">Course Title</label>
          <input
            type="text"
            class="form-control"
            name="courseTitle"
            id="field_courseTitle"
            data-cy="courseTitle"
            formControlName="courseTitle"
          />
          @if (courseTitleRef.invalid && (courseTitleRef.dirty || courseTitleRef.touched)) {
            <div>
              @if (editForm.get('courseTitle')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_courseDescription" jhiTranslate="serviceApp.serviceCourse.courseDescription"
            >Course Description</label
          >
          <input
            type="text"
            class="form-control"
            name="courseDescription"
            id="field_courseDescription"
            data-cy="courseDescription"
            formControlName="courseDescription"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_coursePrice" jhiTranslate="serviceApp.serviceCourse.coursePrice">Course Price</label>
          <input
            type="number"
            class="form-control"
            name="coursePrice"
            id="field_coursePrice"
            data-cy="coursePrice"
            formControlName="coursePrice"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_courseLevel" jhiTranslate="serviceApp.serviceCourse.courseLevel">Course Level</label>
          <select class="form-control" name="courseLevel" formControlName="courseLevel" id="field_courseLevel" data-cy="courseLevel">
            <option [ngValue]="null">{{ 'serviceApp.Level.null' | translate }}</option>
            @for (level of levelValues; track $index) {
              <option [value]="level">{{ 'serviceApp.Level.' + level | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_lessons" jhiTranslate="serviceApp.serviceCourse.lessons">Lessons</label>
          <select
            class="form-control"
            id="field_lessons"
            data-cy="lessons"
            multiple
            name="lessons"
            formControlName="lessons"
            [compareWith]="compareLesson"
          >
            @for (lessonOption of lessonsSharedCollection; track $index) {
              <option [ngValue]="lessonOption">{{ lessonOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_programs" jhiTranslate="serviceApp.serviceCourse.programs">Programs</label>
          <select
            class="form-control"
            id="field_programs"
            data-cy="programs"
            multiple
            name="programs"
            formControlName="programs"
            [compareWith]="compareProgram"
          >
            @for (programOption of programsSharedCollection; track $index) {
              <option [ngValue]="programOption">{{ programOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
